// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.flex {
  display: flex;
}

.blue-box {
  background-color: #3598DB;
  margin: 10px;
  padding: 10px;
  color:white;
}

.link {
  text-decoration: none;
}
